/*  the following styles taken from yenhtran 
    https://github.com/yenhtran/chef-claude/blob/main/src/index.css
*/
.suggested-recipe-container {
color: #475467;
line-height: 28px;
font-size: 1.125rem;
font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
margin-bottom: 8px;
}
/*  end of styles taken from yenhtran */


